---
import Layout from '../layouts/Layout.astro';

const examples = await Astro.glob('./examples/*.{astro,vue}');
---

<aside>Ruben Straube, 26 &#8548; 2023, Unterf&ouml;hring</aside>
<Layout
	title="Get Griddy With It"
	number="0"
	abstract=""
	previous={null}
	next={null}
>
	<h2>An Introduction and Overview to CSS Grid</h2>
	<main>
		CSS Grid is a powerful tool for layouting in the web.
		<p>
			This talk gives an overview over the most important properties and a few
			examples on usage, as well as hopefully answering most questions that you
			brought.
		</p>
		<ul class="posts">
			{
				examples
					.sort((a, b) => a.number - b.number)
					.map((example) => (
						<li class="box">
							<a href={example.url}>
								{example.number} - {example.title}
							</a>
							<p>{example.abstract}</p>
							<a href={example.url} class="learn-more">
								Learn more &gt;
							</a>
						</li>
					))
			}
		</ul>
	</main>
</Layout>

<style lang="scss">
	main {
		max-width: 50vw;
	}
	.posts {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		justify-content: space-between;
		column-gap: 3rem;
		list-style: none;
		margin: 3rem 0 0 0;
		padding: 0;
		li {
			display: grid;
			align-items: start;
			grid-template-rows: subgrid;
			grid-row: auto / span 3;
			margin-bottom: 3rem;
			.learn-more {
				width: fit-content;
			}
		}
	}
</style>
